/KieuDuLieu/nbproject/private/
/KieuDuLieu/build/
/TryCatch/nbproject/private/
/OOP/nbproject/private/
/OOP/build/
/function/nbproject/private/
/function/build/
/Bai5/nbproject/private/
/Bai5/build/
/Mang/nbproject/private/
/Mang/build/
/QLNhanVien/nbproject/private/
/QLNhanVien/build/
/QLPTGiaoThong/nbproject/private/
/TrenLop/nbproject/private/
/TrenLop/build/
/Set_Map/nbproject/private/
/Set_Map/build/
/Chuoi/nbproject/private/
/Chuoi/build/
/BaiTapChuong2/nbproject/private/
/BaiTapChuong2/build/
/TestCode/nbproject/private/
/32_PhamVanQuan_DHTI14A2HN/nbproject/private/
/32_PhamVanQuan_DHTI14A2HN/build/
/BaiTapChuong3/nbproject/private/
/BaiTapChuong3/build/
/SWING/nbproject/private/
/SWING/build/
/Practice4/nbproject/private/
/Practice4/build/
/TestConnection/nbproject/private/
/TestConnection/build/
/Bai3Connection/nbproject/private/
/Bai3Connection/build/
/KetNoiMySQL/nbproject/private/
/KetNoiMySQL/build/
/DeKT/nbproject/private/
/DeKT/build/
/DeKT1/nbproject/private/
/DeKT1/build/
/De1KT/nbproject/private/
/De1KT/build/
/De2KT/nbproject/private/
/De2KT/build/
/De8PhamVanQuan/nbproject/private/
/De8PhamVanQuan/build/
/32PhamVanQuan/nbproject/private/
/32PhamVanQuan/build/
/cau10/nbproject/private/
/cau10/build/
/32PhamVanQuan_KT/nbproject/private/
/32PhamVanQuan_KT/build/
/De3KT/nbproject/private/
/De3KT/build/
/DeCuongJava/nbproject/private/
/DeCuongJava/build/
/OnTap_OOP/nbproject/private/
/OnTap_OOP/build/
